matplotlib==3.7.1
numpy==1.24.2
## on Intel machine
# tensorflow==2.11.0
## On apple silicon
tensorflow-macos==2.11.0
tensorflow-metal==0.7.1
zenml==0.35.1
# allows zenml to store pandas dataframe as parquet instead of csv
pyarrow==11.0.0